<ul>
  <li><a href="#">Your backtrace</a></li>
  <li><a href="#">Your backtrace on Rubinius</a></li>
  <li><a href="#">Git it</a></li>
</ul>
<div id="top">
  <p id="l33t">l33t hax0rz</p>
  <p id="l33t_use">use browsable backtraces</p>
</div>
<div id="boring" class="hidden page">
  <pre>
    <% @exception.backtrace.each do |line| %>
<%= ellipsis line -%>
    <% end %>
  <pre>
</div>
<div id="awesome" class="page">
  <% each_context(@exception.context) do |frame| %>
    <div>
      <%= frame_type_of(frame) %> : <%= h(frame) %>
    </div>
  <% end %>
</div>
<div id="get_it" class="hidden page">
  <ul>
    <li>git clone git://</li>
    <li>rake</li>
    <li>shotgun/rubinius gem install rails</li>
    <li>shotgun/rubinius bin/rails kazaam</li>
    <li>shotgun/rubinius kazaam/script/server</li>
  </ul>
</div>
