<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Rubinius Explorer</title>
<%= stylesheet_link_tag 'display', :media => 'all' %>
<%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="header">
  </div>
  <div id="container">
    <%= yield %>
  </div>
  <div id="footer">
    <p>Brought to you by the awesome <%= link_to "Rubinians", "http://rubini.us" %></p>
  </div>
</body>
</html>
